.form {
  width: fit-content;
  margin: 5px;
  padding: 7px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.input-ac {
  margin: 0.5em;
  margin-left: 0;
  padding: 1em;
  display: block;
  width: 30rem;
}

.label-ac {
  display: block;
  margin: 0.1em;
  padding: 0.5em;
}

.btn-add {
  width: 25%;
  padding: 1em;
  float: inline-end;
  margin: 1em;
  border-radius: 5px;
}

@media all and (max-width: 400px) {
  .input-ac,
  .btn-add {
    width: 100%;
  }
  .btn-add {
    float: inline-start;
  }
}

.candidate{
    max-height: '21px';
    overflow :  'auto';
    text-align: center;
}

.add-candidate-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;  
}

table {
  border-collapse: collapse;
  width:90%;
}

th,td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: white;
}

