a.profile {
    color: #000;
    text-decoration: underline;
  }
  
  a.profile:hover {
    color: white;
    text-decoration: underline;
  }
  
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    background-color: rgb(0, 149, 255);
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .footer-container>p {
    color: white;
  }